@using Voyage.Models.Enum
@model Voyage.Web.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-4">
        <div class="well well-sm">
            <div class="col-xs-12">
                <img src="../../Content/Images/voyage-logo-vert.svg" alt="voyage-logo">
            </div>
            @if (Model.ForgotPasswordStep == ForgotPasswordStep.ValidatingUser)
            {
                <form method="POST" class="form-horizontal" style="margin-left: 20px;">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="username" name="username" required placeholder="User Id">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="phonenumber" name="phonenumber" required placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <input type="submit" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" name="submit.Submit" value="Submit"/>
                                <a class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" href="@Request.QueryString.Get("ReturnUrl")">Cancel</a>
                            </div>
                        </div>

                        @if (Model.HasError)
                        {
                            <div class="col-xs-12" style="color: lightcoral">@Model.ErrorMessage</div>
                        }
                    </fieldset>
                </form>
            }
            else if (Model.ForgotPasswordStep == ForgotPasswordStep.VerifyingCode)
            {
                <form method="POST" class="form-horizontal" style="margin-left: 20px;">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="code" name="code" required placeholder="Code">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <input type="submit" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" name="submit.VerifyCode" value="Submit"/>
                                <a class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" href="@Request.QueryString.Get("ReturnUrl")">Cancel</a>
                            </div>
                        </div>

                        @if (Model.HasError)
                        {
                            <div class="col-xs-12" style="color: lightcoral">@Model.ErrorMessage</div>
                        }
                    </fieldset>
                </form>
            }
            else if (Model.ForgotPasswordStep == ForgotPasswordStep.ValidatingQuestions)
            {
                <form method="POST" class="form-horizontal" style="margin-left: 20px;">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4>Security Questions</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>1. name of your first book you read?</label>
                                <input type="text" class="form-control" id="answer1" name="answer1" required placeholder="Answer">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>2. what is your mother's maiden name?</label>
                                <input type="text" class="form-control" id="answer2" name="answer2" required placeholder="Answer">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <input type="submit" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" name="submit.VerifyQuestions" value="Submit"/>
                                <a class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" href="@Request.QueryString.Get("ReturnUrl")">Cancel</a>
                            </div>
                        </div>

                        @if (Model.HasError)
                        {
                            <div class="col-xs-12" style="color: lightcoral">@Model.ErrorMessage</div>
                        }
                    </fieldset>
                </form>
            }
        </div>
    </div>
</div>

