<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voyage</title>
    <link rel="icon" type="image/x-icon" href="../../Content/Images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="../../Content/bootstrap-material-design.css">
    <link rel="stylesheet" href="../../Content/ripples.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top primary-color" style="height: 56px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="../../Content/Images/voyage-logo-horiz.svg" alt="voyage-logo" width="120" style="margin-top: 10px; margin-left: 21px;" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 15px;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="../../Scripts/bootstrap-material-design.js"></script>
    <script type="text/javascript" src="../../Scripts/ripples.js"></script>
</body>
</html>